<div class="row mb-4">
  <h1 class="">Contact</h1>
</div>

<div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <i class="bi bi-person-gear text-primary"></i>
      Name : Juan Ortega.
    </li>
    <li class="list-group-item">
      <i class="bi bi-whatsapp text-primary"></i>
      Cellphone :
      <a href="https://wa.me/5493517707973"> +549 (351) 7707973</a>
    </li>

    <li class="list-group-item">
      <i class="bi bi-file-earmark-person text-primary"></i>
      CV :
      <a
        href="https://docs.google.com/document/d/1o8QMCCZDzMMxvHLlJJud_I6k20T_eX-EDfXR9n6zQ5I/edit?usp=sharing"
      >
        Click here and view online CV</a
      >
    </li>
    <li class="list-group-item">
      <i class="bi bi-send text-primary"></i>
      Email :
      <a href="mailto:juan.ortega.it@gmail.com">juan.ortega.it@gmail.com</a>
    </li>
    <li class="list-group-item" aria-current="page">
      <i class="bi bi-github text-primary"></i>
      GitHub :
      <a href="https://github.com/Full-Juan-Ortega"
        >https://github.com/Full-Juan-Ortega</a
      >
    </li>
    <li class="list-group-item">
      <i class="bi bi-linkedin text-primary"></i>
      LinkedIn :
      <a class="" href="https://linkedin.com/in/juan0rtega">
        https://linkedin.com/in/juan0rtega</a
      >
    </li>
    <li class="list-group-item">
      Design with : Java/SpringBoot , MySQL , Angular and Bootstrap.
    </li>
  </ul>
</div>

<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Launch demo modal
</button> -->

<!-- Modal
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Contact</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
