<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <img
      class="ms-3"
      src="../../../assets/tasklist-icon-final.png"
      alt=""
      width="35"
    />
    <div class="col justify-content-start mx-2">
      <a class="navbar-brand font-monospace" routerLink="/home">TaskList</a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/home"
            (click)="collapseNavbar()"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link active"
            routerLink="/login"
            aria-current="page"
            (click)="collapseNavbar()"
          >
            Account</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link active"
            routerLink="/contact"
            aria-current="page"
            (click)="collapseNavbar()"
            >Contact
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="collapseNavbar()"
            [ngClass]="{ active: logIn$ | async, disabled: !logIn$ }"
            routerLink="/task"
            >Task Options{{ x | async }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: logIn$ | async, disabled: !logIn$ }"
            (click)="collapseNavbar()"
            (click)="logOut()"
            ><i class="bi bi-person mx-1 text-black"></i>Log Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
