.nav-item:hover {
  transform: scale(1.05);
  border-bottom: 1px solid darkgray;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: darkgray;
}

.navPosition {
  margin-top: 100%;
}

.fontControl {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fontSize {
  font-size: 1.5rem;
}

.bg {
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(90, 197, 232),
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(90, 197, 232),
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
