<div class="container-fluid fixed-bottom">
  <footer class="">
    <!-- REDUCIR PADDING -->
    <div class="div d-none d-sm-block">
      <div class="row justify-content-center">
        <div class="col-lg-6 colEdit">
          <ul class="nav justify-content-around">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://github.com/Full-Juan-Ortega"
                aria-current="page"
                ><i class="bi bi-github"></i> GitHub</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://linkedin.com/in/juan0rtega"
                ><i class="bi bi-linkedin"></i> LinkedIn</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row text-center bg-light">
      <div class="bg-secondary lineDiv"></div>
      <a class="nav-link" routerLink="/contact">
        <i class="bi bi-person-fill-gear"></i>
        Designed by Juan Ortega</a
      >
    </div>
  </footer>
</div>
