<div class="container-fluid bg-warning-subtle fixed-bottom">
  <footer>
    <div class="row justify-content-center">
      <div class="col-6">
        <ul class="nav justify-content-around">
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Developer Juan Ortega</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://github.com/Full-Juan-Ortega"
              aria-current="page"
              >GitHub</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/feed/"
              >LinkedIn</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
