<div class="row mb-4">
  <h1>Welcome to TaskList</h1>
  <p>You could management your tasks!</p>
</div>

<ul class="list-group">
  <li class="list-group-item active">How do you use TaskList?</li>
  <li class="list-group-item list-group-item-action" aria-current="true">
    <div class="step1">
      <span class="step-icon"
        ><i class="bi bi-1-circle-fill text-primary"></i
      ></span>

      <span class=""
        >You need register in <a routerLink="/register">Account</a></span
      >
    </div>
  </li>
  <li class="list-group-item list-group-item-action" aria-current="true">
    <div class="">
      <span class="step-icon"
        ><i class="bi bi-2-circle-fill text-primary"></i
      ></span>
      <span class="">After you should <a routerLink="/login">login</a></span>
    </div>
  </li>
  <li class="list-group-item list-group-item-action" aria-current="true">
    <div class="">
      <span class="step-icon"
        ><i class="bi bi-3-circle-fill text-primary"></i
      ></span>
      <span class=""
        >Now, you could use TaskList for
        <a routerLink="/task">all tasks</a></span
      >
    </div>
  </li>
</ul>

<!-- <div class="container"><app-form-pruebas></app-form-pruebas></div> -->
